NODE_ENV=development
CLIENT_URL=http://localhost:8081 // this is the permitted url to access this server
API=/thezone
PORT=8080  // this is the port used by this application
DB_PORT=<db port number>
DB_USERNAME=<db user name>
HOST=<db host>
DB_PASSWORD=<db password>
DB=classicmodels
